body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  nav a {
    color: #555;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
  }
  
  nav a.active {
    border-bottom: 2px solid #007bff;
    color:black
  }
  
  nav a:hover {
    border-bottom: 2px solid #007bff;
    color: black
  }
  input[type="text"]{
    width: 200px;
    height: 25px;
  }
  button{
    background-color: #007bff;
    color: white;
    margin-left: 5px;
    width: 50px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
  }
  
  